# Ignore everything
*

# Track specific file types in the root directory
!*.yaml
!*.json
!*.js
!*.ts
!.gitignore

# Track everything in src and static directories
!src/
!src/**
!static/
!static/**

# Ignore files and directories containing 'test' or 'old'
**/*test*
**/*old*

# Ignore .DS_Store files
**/.DS_Store
